body {
  background-color: rgb(245, 245, 245);
}

.topnavbar {
  background-color: #243D4E!important;
  border-bottom: 1px solid white;
}

.cursor-p {
  cursor: pointer!important;
}

.color-dflt {
  color: #000000!important;
}

.fs-head {
  font-size: 1.2rem!important;
}

.fs-subhead {
  font-size: 1.1rem!important;
}

.fs-10px {
  font-size: 0.625rem!important;
}

.fs-12px {
  font-size: 0.75rem!important;
}

.fs-14px {
  font-size: 0.875rem!important;
}

.fs-16px {
  font-size: 1rem!important;
}

.fs-18px {
  font-size: 1.125rem!important;
}

.fs-20px {
  font-size: 1.25rem!important;
}

.fw-light {
  font-weight: lighter!important;
}

.fw-300 {
  font-weight: 300!important;
}

.fw-400 {
  font-weight: 400!important;
}

.fw-500 {
  font-weight: 500!important;
}

.fw-600 {
  font-weight: 600!important;
}

.fw-bold {
  font-weight: bold!important;
}

.nav-item {
  text-align: center;
}

.nav-title {
  color: white!important;
  text-decoration: none!important;
  font-size: 2rem;
}

.HeadingFs {
  font-size: 1.5rem;
}

.backspan {
  font-size: 1.5rem;
  color: #243d4e;
  margin-right: 10px;
  /* float: left; */
}

.custHeading {
  font-size: 1.4rem;
  font-weight: 500;
  color: #243d4e;
  border-bottom: 2px solid #243d4e;
  padding-bottom: 10px;
}

.btn:focus {
  box-shadow: none!important;
}

.form-control:focus {
  box-shadow: none!important;
}

.customBtn {
  border-radius: 20px;
  background-color: #03f2d6!important;
  padding-left: 20px!important;
  padding-right: 20px!important;
  color: #243d4e!important;
  border-color: #03f2d6!important;
}